.video-js .vjs-big-play-button {
  position: relative;
  top: calc(50% - 0.75em);
  left: calc(50% - 0.75em);
  width: 1.5em;
  height: 1.5em;
  border-radius: 1em;
}
.video-js .vjs-big-play-button:focus,
.video-js .vjs-play-control:focus,
.video-js .vjs-fullscreen-control:focus {outline:0;}
.vjs-button > .vjs-icon-placeholder:before {
    font-size: 2.5em;
    line-height: 1.8em;
}
.video-js .vjs-control-bar {
  height: 4.5em;
}
.video-js .vjs-time-control {
  font-size: 1.5em;
}
.video-js .vjs-volume-bar {
    margin: 2.1em 0.45em;
}
.video-js .vjs-play-progress:before {
  top: -0.3em;
}
.video-js .vjs-control:focus {
  outline: none;
}
.video-js .vjs-progress-holder .vjs-play-progress {
  background-color: tomato;
}
